<!DOCTYPE html>
<html>
<head>
    <title>Alpha Blog Home Page</title>
    <link href="StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="left jumbotron">
          <h1 class="left">Alpha Blogs</h1>
          <p></p>
          <%= link_to "Sign up now", "#", class: "btn btn-primary btn-lg btn-xlarge", id: "signup" %>
        </div>
        <!--<h1><center>Alpha Blog Home Page</center></h1>-->
    </header>

    <!--<center><img src="http://lajonesmedia.com/wp-content/uploads/2016/11/sda-church1.jpg"/></center>-->
    <!--<p>The is St. Jude's Catholic Church. Look at it!. Don't you wish that one day.. <p>-->

    <!--    <ul>-->
    <!--        <li>The Church</li>-->
    <!--        <li>The House</li>-->
    <!--    </ul>-->
        
    <!--<%= link_to 'About', about_path %> | <%= link_to 'Alpha Blog', articles_path %>-->
</body>
</html>