<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.blogs.com">The Complete Ruby on Rails Developer</a>
      by <a href="http://www.willokanumeh.com">Will Okanumeh</a>
    </small>
    
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>